@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  transition:
    background-color 0.3s,
    color 0.3s;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
